*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;

}
.container{
    position: relative;
width: 100%;
height: 768px;


background: #FFFFFF;
}
img{
    position: absolute;
/* width: 323.52px; */
width: 24%;
height: 4.375rem;
left: 4.125rem;
top: 4.125rem;
}
.logo p{
position: absolute;
width: 50%;
height: 18px;
left: 4.125rem;
top: 10.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.125rem;
  color: #000000;
    
}

/* ---Sign up--- */
.signup{
    position: absolute;

width: 36.4%;
height:48rem;

right: 0;
top: 0;
overflow-x: hidden;
/* background: #FFFFFF; */


/* opacity: 0.2; */
}
h1{
    position: absolute;

left: 72px;
top: 138px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #000000;
}
/* form */
.Email-Id{
    position: absolute;
width:100%;
height: 68px;
left: 77px;
top: 275px;
bottom: 425px;
}
 .email{

width: 72%;
height: 42px;
margin-top: 4px;
display: block;
border-style: none;

background: #EBEBEB;
border-radius: 4px;
}
label{
font-weight: 600;
font-size: 0.875rem;
line-height: 1.125rem;
color: #2D3142;

}
.Password{
    position: absolute;
width: 100%;
height: 68px;
left: 72px;
top: 359px;

}
.password{

width: 71%;
height: 42px;
display: block;
margin-top: 4px;
border-style: none;
background: #EBEBEB;
border-radius: 4px;
}
.checkbox{
    position: absolute;
width: 15px;
height: 15px;
left: 72px;
top: 447px;

}
/* signin */
input[type="submit"]{
position: absolute;

width: 70.5%;

height: 52px;
left: 72px;
top: 536px;
color: #FFFFFF ;
background: #8FB91C;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
border-radius: 8px;
border-style: none;

}
.links a{
    position: absolute;
height: 18px;

right:72px;
top: 502px;

font-weight: 500;
font-size: 14px;
line-height: 18px;



color: #8FB91C;

}
/*  */
 .me{
margin-left: 97px;
margin-top: 447px;
font-weight: 400;
font-size: 12px;
line-height: 14px;

display: flex;

color: #000000;
}

@media only screen and (max-width:700px)  {
    .container{
        overflow-x: hidden;
    }
.logo img{
    /* margin-top: 0; */
    position:absolute;
    top: 10px;
    width: 70%;
}
.logo p{
    width: 100%;
   position: absolute;
   top: 12%;
   left: 14%;
}
   .signup{

   width: 100%;

   }
   .signup h1{
    margin-top: 10px;
   }
}

